.container{
    display:grid;
    grid-template-columns: auto auto auto; 
    width:300px;
}
.item img{
    width:400px;
    height:350px;
}
.item{
   width: 400px;
   height:400px;
   margin: 30px 0 30px 30px;
   border: 2px solid yellow;
}
.cart-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:400px;
}
#cart-btn{
    background-color: black;
    color:antiquewhite
}
#logo{
    text-align: center;
}
.navbar{
    display:flex;
    flex-direction: row;
    overflow:hidden;
    position: fixed;
    width: 1345px;
    height:100px;
    background-color:gray;
    font-size: 25px;
    color:rgb(250, 249, 249);
    line-height: 100px;
}
.navbar div{
    margin-left:90px;
}
