.container{
    display:flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    justify-content: space-around;
}

.items{
    height: 270px;
    width: 270px;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}